.op-nac {
    .radio-inline {
        margin-right: 15px;

        span {
            padding: 0 10px;
        }
    }
}

.table-products {
    font-size: 14px;
}

.app-btn-group {
    text-align: end;
}